@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

//variables
/* $base: #0fc184;

$primary: $base;

$secondary: #0fbbc1;

$danger: #ff4136;

$gray-100: #f8f9fa;

$info: #8dd8fd;

$yellow: #ffd968;

$light: $gray-100; */

$font-main: 'Poppins', Helvetica, sans-serif;

$border-radius: .35rem;